.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

.pointer{
  cursor: pointer;
}

.selected-type{
  background-color: #007bff;
  color: white;
}

.selected-type .text-muted{
  color: white !important;
}
